@import url('https://fonts.googleapis.com/css2?family=Rationale&display=swap');

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}

body {
	font-family: 'Rationale';
	// background-color: rgba(10, 10, 10, 1);
	color: #fff;
	font-size: 14px;
	overflow: hidden;
}

canvas {
	transition: all 10s ease-in;
}
