@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  font-family: "Anton";
  font-size: 14px;
  overflow-x: hidden;
  background-color: #d1d1d1;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100vh;
}
.container .loading {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  background-color: #000000;
}
.container .header {
  opacity: 0;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .header h1 {
  color: #161616;
}
.container .header h1 span {
  color: #ff7171;
}
.container .header .menu {
  color: #161616;
  font-size: 1.1rem;
}
.container .bg {
  position: absolute;
  left: 5%;
  background-image: url(./img/2cgyh20s.png);
  width: 1000px;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 80% 0%;
  mix-blend-mode: darken;
}
.container .bg .heading {
  position: absolute;
  top: 20%;
}
.container .bg .heading .info span {
  text-transform: uppercase;
  display: block;
  line-height: 1em;
  font-size: 5rem;
  color: #ff7171;
}
.container .bg .heading .info p {
  margin-top: 0.5em;
  font-size: 1rem;
  line-height: 1.5;
  color: #161616;
}
.container .slider {
  position: absolute;
  left: 95vw;
  top: 25vh;
  width: 50%;
  background-color: #161616;
  padding: 1em;
  border-radius: 5px;
  transform: translateX(0%);
  transition: all 0.8s ease-in-out;
}
.container .slider .slider-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #161616;
  position: absolute;
  top: 50%;
  right: 99%;
}
.container .slider .slider-button ion-icon {
  color: #d1d1d1;
  font-size: 3rem;
}
.container .slider .swiper-container {
  width: 100%;
}
.container .slider .swiper-container .swiper-wrapper .swiper-slide {
  background-color: #ff7171;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container .slider .swiper-container .swiper-wrapper .swiper-slide .card {
  border-radius: 10px;
  overflow: hidden;
}
.container .slider .swiper-container .swiper-wrapper .swiper-slide .card .card-head {
  display: block;
  width: 100%;
  height: 100%;
}
.container .slider .swiper-container .swiper-wrapper .swiper-slide .card .card-head img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .slider .swiper-container .swiper-wrapper .swiper-slide .card .card-body {
  background-color: #ff7171;
  text-align: center;
  padding: 0.3em 0;
}
.container .slider .button {
  position: absolute;
  top: -15%;
}
.container .slider .button .prev,
.container .slider .button .next {
  border-radius: 5px;
  cursor: pointer;
  margin: 0.2em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em 0.4em;
  transition: all 0.2s;
}
.container .slider .button .prev ion-icon,
.container .slider .button .next ion-icon {
  font-size: 2em;
}
.container .slider .button .prev:hover,
.container .slider .button .next:hover {
  background-color: #ff7171;
  color: #d1d1d1;
}/*# sourceMappingURL=style.css.map */